<div class="input-group mb-3 w-75 mx-auto">
    <input type="text" class="form-control" value="@searchQuery" @oninput="Foo"/>
</div>

@code {
    [Parameter]
    public Func<string?, Task> SearchHandler { get; set; } = default!;

    private string? searchQuery;

    private async Task Foo(ChangeEventArgs args)
    {
        searchQuery = args?.Value?.ToString();
        await SearchHandler(searchQuery);
    }
}
