<div class="input-group mb-3 w-75 mx-auto">
    <input type="text" class="form-control" @bind-value="@searchQuery" />
    <div class="input-group-append">
        <button class="btn btn-outline-dark" type="button" @onclick="@(async () => await SearchHandler(searchQuery))">Search</button>
    </div>
</div>

@code {
    [Parameter]
    public Func<string?, Task> SearchHandler { get; set; } = default!;

    private string? searchQuery;

}
