@using Web.Api.Models.RestaurantDtos
@model RestaurantDto
<div class="row mt-3 justify-content-center">
	<div class="col">
		<div class="card mb-3 mx-auto" style="max-width: 600px;">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="https://picsum.photos/300" class="img-fluid rounded-start" alt="@Model.Name">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">@Model.Name</h5>
						<p class="card-text">@Model.RestaurantCategoryName</p>
						<p class="card-text"><i class="bi-star-fill"></i>@Model.Rating.ToString("0.##")</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
